#objective-counter {
    font-weight: 600;
    color: orange;
}

/* [id^='objective-task-label-'] {
    border: 1px solid var(--white30a);
    border-radius: 10px;
    padding: 7px;
    align-items: center;
} */

