#hypeBotBar {
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    white-space: normal;
    font-size: calc(var(--mainFontSize) * 0.85);
    order: 20;
}

.hypebot_nokey {
    text-align: center;
    font-style: italic;
}

.hypebot_name {
    font-weight: 600;
}
