#floatingPrompt {
    overflow-y: auto;
    max-width: 90svw;
    max-height: 90svh;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    border: 1px solid var(--white30a);
    position: fixed;
    padding: 10px;
    padding-top: 25px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px var(--black70a);
    z-index: 3000;
    left: 0;
    top: 0;
    margin: 0;
    right: unset;
    width: calc(((100svw - var(--sheldWidth)) / 2) - 1px);

}

.floating_prompt_radio_group {
    display: flex;
    flex-direction: column;
}

#extension_floating_counter {
    font-weight: 600;
    color: orange;
}

.extension_token_counter {
    font-size: calc(var(--mainFontSize) * 0.9);
    width: 100%;
    text-align: right;
}

.floating_prompt_settings textarea {
    font-size: calc(var(--mainFontSize) * 0.9);
    line-height: 1.2;
}

#ANClose {
    height: 15px;
    aspect-ratio: 1 / 1;
    font-size: 20px;
    opacity: 0.5;
    transition: all 250ms;
}

#ANClose:hover {
    cursor: pointer;
    opacity: 1;
}

.panelControlBar {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-right: 5px;
}

#floatingPrompt .drag-grabber {
    position: unset;
}
