node_modules/
/uploads/
*.jsonl
/config.conf
/config.yaml
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
/docker/data
.DS_Store
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
content.log
cloudflared.exe
access.log
/vectors/
/default/scaffold
.aider*
.env
/StartDev.bat
yarn.lock
*.code-workspace