node_modules/
public/chats/
public/characters/
public/User Avatars/
public/backgrounds/
public/groups/
public/group chats/
public/worlds/
public/css/bg_load.css
public/themes/
public/OpenAI Settings/
/uploads/
*.jsonl
config.conf
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode
secrets.json
/dist
poe_device.json
