.expression-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.expression-holder {
    max-height: 90vh;
    max-width: calc((100vw - 800px)/2);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    filter: drop-shadow(2px 2px 2px #51515199);
    transition: 500ms;
}

img.expression {
    max-width: 100%;
    max-height: 90vh;
}

.debug-image {
    display: none;
    visibility: collapse;
    opacity: 0;
    width: 0px;
    height: 0px;
}

#image_list {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

#image_list .success {
    color: green;
}

#image_list .failure {
    color: red;
}

.expression_settings {
    white-space: pre-line;
}

.expression_settings p {
    margin-bottom: 0px;
}

.expression_settings label {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0px;
}

.expression_settings label input {
    margin-left: 0px !important;
}

@media screen and (max-width:1200px) {
    div.expression {
        display: none;
    }
}