.expression-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#expression-wrapper {
    display: flex;
    height: calc(100vh - 40px);
    width: 100vw;
}

.expression-holder {
    min-width: 100px;
    min-height: 100px;
    max-height: 90vh;
    max-width: 90vh;
    width: calc((100vw - var(--sheldWidth)) /2);
    position: absolute;
    bottom: 1px;
    padding: 0;
    filter: drop-shadow(2px 2px 2px #51515199);
    z-index: 2;
    overflow: hidden;

}

img.expression {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: contain;
}

img.expression[src=""] {
    visibility: hidden;
}

img.expression.default {
    vertical-align: middle;
    max-height: 120px;
    object-fit: contain !important;
    margin-top: 50px;
}

.debug-image {
    display: none;
    visibility: collapse;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.expression_list_item {
    position: relative;
    max-width: 20%;
    max-height: 200px;
    background-color: #515151b0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expression_list_title {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: 600;
    background-color: #000000a8;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expression_list_image {
    max-width: 100%;
    height: 100%;
}

#image_list {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
}

#image_list .success {
    color: green;
}

#image_list .failure {
    color: red;
}

.expression_settings p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expression_settings label {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0px;
}

.expression_settings label input {
    margin-left: 0px !important;
}

@media screen and (max-width:1200px) {
    div.expression {
        display: none;
    }
}