
#rm_print_characters_block.group_overlay_mode_select .character_select {
    background-color: rgba(170, 170, 170, 0.2);
}

#rm_print_characters_block.group_overlay_mode_select .character_select.character_selected {
    background-color: var(--SmartThemeQuoteColor);
}

#rm_print_characters_block.group_overlay_mode_select .character_select .bulk_select_checkbox {
    visibility: hidden;
    height: 0 !important;
}
