body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(36, 37, 37);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
    font-size: 16px;
    /*1rem*/
    color: #999;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*z-index:0;*/
}

#main {
    padding-top: 20px;
    /*z-index:1;*/
}

#content {
    margin: 0 auto;
    max-width: 700px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.5rem;
    box-shadow: 0 0 5px black;
    /*z-index: 2;*/
}

code {
    border: 1px solid #999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: block;
    white-space: pre-line;
}

a {
    color: orange;
    text-decoration: none;
    border-bottom: 1px dotted orange;
}

h2,
h3 {
    color: #ccc;
}

hr {
    border: 1px solid #999;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

table img {
    max-width: 200px;
}