/* iPhone copium land */
body.safari .popup .popup-body:has(.maximized_textarea) {
    height: 100%;
}

body.safari .popup .popup-body {
    height: fit-content;
    max-height: 90vh;
    max-height: 90svh;
}
