#openai_prompt_manager {
    margin: 0.5em 0.25em;
}

#openai_prompt_manager .caution {
    color: var(--fullred);
}

#openai_prompt_manager #openai_prompt_manager_list {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 800px;
}

#openai_prompt_manager .openai_prompt_manager_list_separator hr {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    margin: 0.5em 0;
    background-image: linear-gradient(90deg, var(--transparent), var(--white30a), var(--transparent));
    min-height: 1px;
}

#openai_prompt_manager #openai_prompt_manager_list li {
    display: grid;
    grid-template-columns: 4fr 80px 60px;
    margin-bottom: 0.5em;
    width: 100%
}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt.openai_prompt_manager_marker {

}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_list_head .prompt_manager_prompt_tokens,
#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt .prompt_manager_prompt_tokens {
    text-align: right;
}

#openai_prompt_manager #openai_prompt_manager_list .openai_prompt_manager_prompt .prompt_manager_prompt_controls {
    text-align: right;
}

#openai_prompt_manager .openai_prompt_manager_list_head {
    padding: 0.5em;
}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt {
    align-items: center;
    padding: 0.5em;
    border: 1px solid var(--white30a);
    border-radius: 10px;
}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt span span {
    display: flex;
    justify-content: end;
}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt span span span {
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 20px;
    width: 20px;
    filter: drop-shadow(0px 0px 2px black);
    opacity: 0.2;
}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt span span:hover {
    opacity: 1;
}

#openai_prompt_manager_popup .openai_prompt_manager_popup_entry {
    margin-top:2em;
}

#openai_prompt_manager_popup .openai_prompt_manager_popup_entry .openai_prompt_manager_popup_entry_form_control {
    margin-top:1em;
}

#openai_prompt_manager_popup .openai_prompt_manager_popup_entry_form_control #openai_prompt_manager_popup_entry_form_prompt {
    min-height: 200px;
}

#openai_prompt_manager_popup .openai_prompt_manager_popup_entry #openai_prompt_manager_popup_entry_form_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

#openai_prompt_manager #openai_prompt_manager_list .openai_prompt_manager_prompt.draggable {
    cursor: grab;
}

#openai_prompt_manager #openai_prompt_manager_list .openai_prompt_manager_prompt_disabled {
    color: var(--white30a);
    border: 1px solid var(--white20a);
    border-radius: 10px;
}

#openai_prompt_manager #openai_prompt_manager_list li.openai_prompt_manager_prompt .mes_edit {
    margin-left: 0.5em;
}

#openai_prompt_manager .openai_prompt_manager_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white50a);
    margin-top: 0.5em;
    padding: 0 0.25em;
    width: 100%
}

#openai_prompt_manager .openai_prompt_manager_header div {
    margin-top: 0.5em;
    width: fit-content;
}

#openai_prompt_manager .openai_prompt_manager_header_advanced {
    display: flex;
    margin-right: 0.25em;
}

#openai_prompt_manager .openai_prompt_manager_header_advanced span {
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 2px black);
}

#openai_prompt_manager .openai_prompt_manager_header_advanced span.fa-solid {
    display: inherit;
}

#openai_prompt_manager .openai_prompt_manager_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25em;
    padding: 0 0.25em;
    width: 100%
}

#openai_prompt_manager .openai_prompt_manager_footer a {
    padding: 5px 5px;
}

#openai_prompt_manager_popup {
    margin-top: 0;
}

#openai_prompt_manager_popup {
    max-width: var(--sheldWidth);
    height: calc(100% - 40px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 1em;
    border: 1px solid #333333;
    flex-direction: column;
    z-index: 3010;
    border-radius: 0 0 20px 20px;
    background-color: #000;
}
