.align-start {
    align-items: start;
}

.regex_settings .menu_button {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.regex-script-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.regex-script-label {
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 0 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.align-self-center {
    align-self: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.overflow-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
