.audio-ui-block {
    margin-bottom: 1em;
}

.audio-mixer-div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    border: 1px rgb(75, 75, 75) solid;
    border-radius: 10px;
}

.audio-label {
    display: block;
    text-align: center;
}

.audio-volume-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.audio-lock-button {
    width: 100%;
    height: 2em;
}

.audio-random-button {
    width: 100%;
    height: 2em;
}

.audio-mute-button {
    width: 100%;
    height: 2em;
}

.audio-slider {
    width: 100% !important;
    vertical-align: center;
}

.audio-mute-button-muted {
    color: red;
}

#audio_refresh_assets {
    width: 50px;
    height: 30px;
}

.audio-mixer-mute {
    width: 10%;
}

.audio-mixer-lock {
    width: 10%;
}

.audio-mixer-random {
    width: 10%;
}

.audio-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.audio-container>.vol {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-container>.vol>input {
    width: 100%;
}

.audio-container>.playlist {
    flex-grow: 1;
}

.audio-container>.playlist>select {
    height: 100%;
    margin: 0 !important;
}
