@charset "UTF-8";

:root {
    --transparent: rgba(0, 0, 0, 0);

    --black30a: rgba(0, 0, 0, 0.3);
    --black50a: rgba(0, 0, 0, 0.5);
    --black70a: rgba(0, 0, 0, 0.7);
    --black100: rgba(0, 0, 0, 1);

    --white30a: rgba(255, 255, 255, 0.3);
    --white50a: rgba(255, 255, 255, 0.5);
    --white70a: rgba(255, 255, 255, 0.7);
    --white100: rgba(255, 255, 255, 1);

    --grey10: rgb(25, 25, 25);
    --grey30: rgb(75, 75, 75);
    --grey50: rgb(125, 125, 125);
    --grey70: rgb(175, 175, 175);

    --grey30a: rgba(50,50,50,0.3);

    --fullred: rgba(255, 0, 0, 1);
    --crimson70a: rgba(100, 0, 0, 0.7);
    --okGreen70a:rgba(0,100,0,0.7);
    --cobalt30a: rgba(100, 100, 255, 0.3);
    --sienna: rgb(210, 100, 40);
    --orangered: rgb(255, 90, 0);
    --greyCAIbg: rgb(36, 36, 37);
    --ivory: rgba(229, 224, 216, 1);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-appearance: initial;
    scroll-behavior: smooth;
}

html { 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--greyCAIbg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
    font-size: 15px;
    color: var(--ivory);
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--white70a);
    -webkit-box-shadow: inset 0 0 2px var(--black30a);
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
}

.mes_text p {
    margin-top: 0;
    margin-bottom: 10px;
}

.mes_text li tt {
    min-width: 80px;
    display: inline-block;
    color: grey !important;
    text-align: right;
}

.mes_text br {
    content: ' ';
}

.mes_bias {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    color: darkgoldenrod;
}

.mes_text i,
.mes_text em {
    color: var(--grey70);
    font-weight: 500;
}

.mes_text strong,
.mes_text h2,
.mes_text h1 {
    font-weight: bold;
}

code {
    padding: 5px;
    font-family: Consolas, monospace;
    color: var(--white50a);
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid var(--white30a);
    border-radius: 5px;
    background-color: var(--black70a);
    display: inline-block;
}

#bg1 {
    background: url(backgrounds/tavern1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#bg2 {
    background: url(backgrounds/tavern1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(2px);
    background-size: cover;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*TOPPER margin*/

#top-bar {
    width: 100vw;
    display: inline-block;
    height: 40px;
    position: fixed;
    color: var(--black30a);
    border-bottom: 1px solid var(--black70a);
    box-shadow: 0 2px 20px 0 var(--black70a);
    backdrop-filter: blur(10px);
    background-color: var(--black70a);
    -webkit-backdrop-filter: blur(10px);
    z-index: 3000;
}




#sheld {
    display: grid;
    grid-template-rows: auto min-content;
    height: calc(100svh - 40px);
    overflow-x: hidden;
    max-width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    margin: 0 auto;
    z-index: 2;

}

#chat {
margin-top:5px;
    overflow-x: hidden;
    padding-bottom: 0;
    overflow-y: scroll;
    display: flex;
    bottom: 10px;
    border-bottom: 1px solid var(--grey30a);
    border-left: 1px solid var(--grey30a);
    border-right: 1px solid var(--grey30a);
    backdrop-filter: blur(10px);
    background-color: var(--black50a);
    -webkit-backdrop-filter: blur(10px);
    text-shadow: #000 0 0 3px;
    scrollbar-width: thin;
    transition: all 1s ease-in-out;
    flex-direction: column;
    z-index: 3;
}

#form_sheld {
    white-space: nowrap;
    width: 100%;
    margin: 1px auto 10px auto;
    z-index: 3;
}

#send_form {
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto 40px;
    width: 100%;
    margin: 0 auto 0 auto;
    border: 1px solid var(--grey30a);

    border-radius: 0 0 20px 20px;
    background-color: var(--crimson70a);
    backdrop-filter: blur(10px);
}

#send_but_sheld {
    padding: 0;
    border: 0;
    height: 40px;
    position: relative;
    background-position: center;
    display: flex;
    flex-direction: row;
}

#send_but {
    width: 40px;
    height: 40px;
    margin: 0;
    display: none;
    padding: 1px;
    background: url('img/send3.png') no-repeat;
    background-size: 26px auto;
    background-position: center center;
    outline: none;

    border: none;
    cursor: pointer;
    transition: 0.3s;
    filter: brightness(0.7);
    order: 99999;
}

#send_but:hover {
    filter: brightness(150%);
}

#loading_mes {
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    /*margin-left: 2px;*/
    background: url('img/load.svg') no-repeat;
    background-size: 26px 26px;
    background-position: center center;
    order: 99999;
}

#options_button {
    position: relative;
    display: inline;
    color: var(--white50a);
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    padding-left: 10px;
    padding-top: 0;

}

#options_button:after {
    content: '\2630';
    text-decoration: none;
    font-size: 1.5rem;

}

#options_button:hover {
    color: var(--white100);
}

#options {
    opacity: 0.0;
    display: none;
    z-index: 1990;

}

.options-content {
    overflow: hidden;
    display: block;
    position: absolute;
    background-color: var(--black100);
    border: 1px solid #666;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    text-shadow: 0 0 3px black;
    min-width: 200px;
    z-index: 2000;
    margin-bottom: 13px;
}

.options-content hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--white30a);
}

#right-nav-panel hr,
#personality_div hr,
#top-settings-holder hr {
    background-image: linear-gradient(90deg, var(--transparent), var(--white30a), var(--transparent));
}

.options-content a {
    color: var(--ivory, white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.options-content img {
    width: 1.5rem;
    margin-right: 5px;
    height: 1.25rem;
    vertical-align: middle;
}

.options-content span {
    vertical-align: middle;
}

.options-content a:hover {
    background-color: var(--white30a);
}


#message_template {
    display: none !important;
}

.mes {

    display: grid;
    grid-template-columns: min-content min-content auto min-content;
    padding: 20px 10px 0 10px;
    margin-top: 0;
    width: 100%;
    color: var(--ivory, white);
}

.last_mes{
    grid-template-columns: [checkbox] fit-content(60px) [avatar-leftswipe] 50px [name-mestext] auto [edit-rightswipe] 30px !important;
    grid-template-rows: [avatar-NameMesText-edit] 50px [swipes] auto;
    grid-row-gap: 20px;
    
}
/* SWIPE RELATED STYLES*/

.swipe_right,.swipe_left {
    height: 40px;
    width: 40px;
    opacity: 0.3;
    right: 5px;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    grid-row-start: 2;
    grid-column-start: 4;
    flex-flow:column;
}

.swipe_right img, .swipe_left img {
    height: 30px;
    width: 30px;
}
.swipes-counter{
    color: white;
    font-size: 12px;
    padding: 0;
    
}

.swipe_left {
    left: 15px;
    right: auto;
    grid-column-start: 2;
    align-items: flex-end;
}

.avatar {
    width: 50px;
    height: 50px;
    border-style: none;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    border: 1px solid var(--black30a);
    box-shadow: 0 0 5px var(--black50a);
}

.mes_block {
    padding-top: 0;
    padding-left: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:3;
}

.ch_name {
    font-weight: bolder;
}

.mes_text {
    font-weight: 400;
    line-height: 1.25rem;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 720px;
    word-wrap: break-word;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.mes_text::after {
    content: "▋";
    animation: blink 1s steps(1) infinite;
    opacity: 0.7;
    display: none;
}

@keyframes blink {
    60% {
        visibility: hidden;
    }
}

br {
    display: block;
    margin: 3px 0;
}

textarea {
    width: 100%;
    resize: vertical;
    display: block;
    background-color: var(--black30a);
    outline: none;
    border: 1px solid var(--white30a);
    border-radius: 10px;
    color: var(--white70a);
    font-size: 15px;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
    padding: 5px 10px;
    scrollbar-width: thin;
}


#send_textarea {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: calc(1.5em + 0.75rem + 2px);
    max-height: 50vh;
    word-wrap: break-word;
    height: 40px;
    resize: vertical;
    display: block;
    background-color: rgba(255, 0, 0, 0);
    border: 0;
    box-shadow: none;
    padding: 6px 0 6px 0;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
    margin: 0;
    text-shadow: #000 0 0 3px;
}

#send_textarea::placeholder {
    color: var(--white70a)
}

#rm_ch_create_block textarea {
    font-size: 15px;
    min-height: 200px;
}

.margin-bot-10px {
    margin-bottom: 10px;
}

#description_textarea {
    height: -webkit-fill-available;
}

#character_name_pole {margin-bottom:0;}

#firstmessage_textarea {
    height: -webkit-fill-available;
}

.text_pole {
    background-color: var(--black30a);
    color: var(--white70a);
    border: 1px solid var(--white30a);
    border-radius: 10px;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
    font-size: 15px;
    padding: 7px;
    width: 100%;
    margin: 5px 0;
}

#top-bar h3 {
    margin: 0;
    padding: 10px 0;
}

#top-bar h4 {
    margin: 0;
    padding: 5px 0;
}

#top-bar h5 {
    color: var(--white50a);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.75rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

#right-nav-panel-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-height: 30px;
    display: flex;
    align-items: flex-end;
}

#right-nav-panel-tabs .right_menu_button:last-of-type {
    padding-right: 0;
}

/* ##################################################################### */
/*                      Right Panel's Upper Tabs                         */
/* ##################################################################### */

.right_menu_button {
    display: block;
    cursor: pointer;
    text-align: center;
    padding-right: 20px;
    font-size: 1.5rem;
    margin-top: 0;
    filter: grayscale(1) brightness(75%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.right_menu_button:hover {
    filter: brightness(150%) grayscale(1);
}


#rm_button_panel_pin {
    display: none;
}

#rm_button_panel_pin:checked + label {
    display: block;
}

#rm_button_panel_pin:checked + label .checked {
    display: block;
}

#rm_button_panel_pin:checked + label .unchecked {
    display: none;
}

#rm_button_panel_pin:not(:checked)  + label .checked {
    display: none;
}

#rm_button_panel_pin:not(:checked) + label .unchecked {
    display: block;
}

#rm_button_selected_ch {
    flex: 1;
    overflow: hidden;
}

#rm_button_selected_ch h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.selected-right-tab {
    filter: brightness(200%);
}

/* ####################################################################### */

#characloud_url {
    opacity: 0.3;
}

#characloud_url img {
    width: 25px;
}

#rm_print_characters_block {
    padding: 15px 0;
    overflow-y: auto;
    flex-grow: 1;
}

#rm_ch_create_block {
    display: none;
    overflow-y: auto;
}

#rm_extensions_block {
    display: none;
    overflow-y: auto;
}

/* ################################################################*/
/*   CUSTOMIZE THE DROPDOWN SELECT COLORS FOR RIGHT MENU
/*#################################################################*/

select {
    color: var(--white70a);
    padding: 7px;
    background-color: var(--black30a);
    font-size: 15px;
    border: 1px solid var(--white30a);
    border-radius: 10px;
    margin-bottom:10px;
}

select option {
    /* works to highlight selected/active option */
    background-color: var(--white50a);
    color: var(--black70a);

}

select option:not(:checked) {
    /* works to color unselected items */
    background-color: var(--black70a);
    color: var(--white70a);
}

/*#######################################################################*/

#rm_api_block {
    display: none;
    overflow-y: auto;
}

.API-logo {
    margin: 0 auto;
    width: min-content;
    opacity: 0.5;
}

.oobabooga_logo {
    margin: 5px auto;
    text-align: center;
}

img[src*="user-slash-solid.svg"] {
    filter: invert(1);
}

.menu_button .svg_icon {
    height: 22px;
    vertical-align: middle;
    margin: 5px;
    filter: invert(1) brightness(75%);
}

.svg_icon {
    filter: invert(1);
}

#api_url_text,
#textgenerationwebui_api_url_text {
    /*margin-right: 4px;*/
    display: block;
}

#api_button,
#api_button_novel,
#api_button_textgenerationwebui {}

#textgenerationwebui_api pre {
    display: inline;
}

#api_button:hover,
#api_button_novel:hover,
#api_button_textgenerationwebui:hover {
    background-color: green;
}

img[src="img/load.svg"] {
    width: 25px;
    height: 25px;
    display: none;
}

#rm_characters_block {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    /* visibility: hidden; */
}

#rm_characters_block .right_menu_button {
    padding-right: 15px;
}

#rm_characters_topbar {
    display: flex;
    flex-direction: column;
}

#rm_characters_topbar_buttons {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#rm_characters_topbar_expander {
    flex-grow: 1;
}

#form_character_search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#character_search_bar {
    flex: 1;
    font-size: 1em;
    padding-left: 0.75em;
    margin-left: 0;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url('/img/times-circle.svg') no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    filter: invert(1);
    cursor: pointer;
}

input[type=search]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

.character_select {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 67px auto;
}

.character_select .ch_name {
    margin-left: 10px;
    margin-top: 5px;
    transform: translateY(25%);
    overflow: hidden;
    text-overflow: ellipsis;
}

.character_select:hover {
    background-color: var(--white50a);
}

#avatar_url_div {
    display: none;
}

#selected_chat_div {
    display: none;
}

#create_date_div {
    display: none;
}

#last_mes_div {
    display: none;
}

/*LEFT SIDE BG MENU*/

#logo_block {
    z-index: 3001;
}

#bg_menu {
    cursor: pointer;
    position: fixed;
    z-index: 3001;
}

#bg_menu_content {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-content: center;
}

.bg_example {
    width: 23%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid var(--black50a);
    box-shadow: 0 0 7px var(--black50a);
    margin: 5px;
    aspect-ratio: 16/9;
}

.bg_example_cross {
    width: 15px;
    height: 15px;
    position: relative;
    float: right;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: 0.4;
    background-color: var(--black100);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 2pt black;
    background-image: url(img/cross.png);
}

.no-border {border:none !important;}
.no-shadow {box-shadow: none !important;}

.add_bg_but {
    cursor: pointer;
    opacity: 0.1;
    height: 100%;
    width: 100%;
}

.input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#form_create {
    display: grid;
    height: 100%;
    overflow-y: auto;
    grid-template-rows: 
        [avatar] min-content 
        [hr] min-content 
        [descriptionHeader] min-content 
        [description] auto 
        [firstmessageHeader] min-content 
        [firstMessage] auto 
        [hidden] min-content;
}

.avatar_div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom:10px;
    align-items: center;
}

#avatar-and-name-block{
    justify-content: space-between;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin-bottom:10px;
}

#name_div{
    width: 100%;
}

#create_button {display:none;}

.avatar_div .avatar {
    margin-left: 4px;
    margin-right: 10px;
    height: 70px;
    width:70px;
    display: inline-block;
}

#first_message_div {}

#advanced_div {
    /* width: 100%; */
}

#rm_characters_block .form_create_bottom_buttons_block {
    justify-content: space-evenly !important;
    flex-grow: 0;
}

.form_create_bottom_buttons_block {
    display: flex;
    flex: 1;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 20px;
    align-items: center;
    justify-content: end;
}

#rm_info_block {
    display: none;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-direction: column;

}

#rm_info_panel {
    font-size: 20px;
    display: block;
    text-align: center;
}

#rm_info_button {
    width: min-content;
    margin: 0 auto;
}

#rm_info_avatar {
    width: 69px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#delete_button {
    background-color: var(--crimson70a);
}

#delete_button:hover {
    background-color: var(--fullred);
}

#result_info {
    margin-left: 10px;
    color: var(--white30a);
    display: flex;
}

/* Focus */
#colab_popup {

    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 2060;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 36vh;
    box-shadow: 0 0 2px var(--black50a);
    padding: 4px;
    backdrop-filter: blur(10px);
    background-color: var(--black70a);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}

#dialogue_popup {

    width: 300px;
    position: absolute;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    box-shadow: 0 0 5px 5px var(--fullred);
    padding: 4px;
    background-color: var(--black70a);
    border-radius: 10px;
}

#dialogue_popup_ok {
    display: inline-block;
    margin-right: 20px;
    background-color: var(--crimson70a);
    cursor: pointer;
}

#dialogue_popup_cancel {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

#dialogue_del_mes {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    text-align: center;
    padding: 0;
    height: min-content;
}

#dialogue_del_mes_ok {
    /*changes background of OK button in the deletion menu*/
    display: inline-block;
    background-color: var(--crimson70a);
    cursor: pointer;
}

#dialogue_del_mes_cancel {
    display: inline-block;
    cursor: pointer;
}

.avatar_div .menu_button, 
.form_create_bottom_buttons_block .menu_button,
#select_chat_popup .menu_button {
    font-weight: bold;
    color: var(--white70);
    background-color: var(--black50a);
    border: 1px solid var(--white30a);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
    font-size: 22px;
    min-width:40px;
    min-height:40px;
    filter: grayscale(0.5);
    text-align: center;
}

    .menu_button{

     font-weight: bold;
    color: var(--white70);
    background-color: var(--black50a);
    border: 1px solid var(--white30a);
    border-radius: 10px;
    padding: 10px;
    width: min-content;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.3s;
    font-size: 15px;
}

.menu_button:hover {
    background-color: var(--white30a);
}


#dialogue_del_mes .menu_button {
    font-size: 1.25rem;
    margin-left: 25px;
    margin-right: 25px;
}

#shadow_popup {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    top: 0;
}

#colab_shadow_popup {

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2298;
}

#bgtest {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    background-color: red;
}
/* ------ online status indicators and texts. 2 = kobold AI, 3 = Novel AI  ----------*/
#online_status2,
.online_status4 {
    opacity: 0.5;
    margin-top: 2px;
    margin-bottom: 15px;
}

#online_status_indicator2,
.online_status_indicator4 {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}

#online_status_text2,
.online_status_text4 {
    margin-left: 4px;
    display: inline-block;
}

#online_status3 {
    opacity: 0.5;
    margin-top: 2px;

    margin-bottom: 30px;
}

#online_status_indicator3 {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}

#online_status_text3 {
    margin-left: 4px;
    display: inline-block;
}

#softprompt {
    margin-bottom: 10px;
}

/* hidden until we find out a way to handle it better */
#softprompt_block {
    display: none;
}

#world_info {
    margin-bottom: 0;
}

#world_info_block {
    display: flex;
    align-items: center;
}

#world_import_button,
#world_create_button {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#world_import_button h4,
#world_create_button h4 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    font-size: 16px;
}

#world_popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    max-width: 800px;
    height: calc(100% - 40px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 4px;
    /*border: 1px solid #333333;*/
    flex-direction: column;
    z-index: 3010;
    border-radius: 0 0 20px 20px;
}

#world_popup_bottom_holder {
    padding: 0.5rem 0;
    margin: 0 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#world_popup_bottom_holder div {
    cursor: pointer;
    width: fit-content;
    user-select: none;
    opacity: 0.8;
}

#world_popup_bottom_holder div:not(:first-of-type) {
    margin-left: 1rem;
}

#world_info_buttons {
    margin-left: 1rem;
}

#world_info_depth_block input[type="range"],
#world_info_budget_block input[type="range"] {
    margin-left: 10px;
}

#entry_edit_template {
    display: none !important;
}

.world_entry:not(:last-child)::after {
    margin-top: 1rem;
    height: 1px;
    display: block;
    width: 100%;
    content: '';
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(100, 100, 100, 0.75), rgba(0, 0, 0, 0));
}

#world_popup_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 36px;
}

#form_rename_world {
    display: flex;
    align-items: center;
    margin-right: 50px;
    opacity: 0.8;
}

#form_rename_world input[type="submit"] {
    cursor: pointer;
}

#form_rename_world input:not(:last-child) {
    margin-right: 10px;
}

#world_popup_header h5 {
    display: inline-block;
}

.world_popup_expander {
    flex-grow: 1;
}

#world_popup_entries_list {
    flex-grow: 1;
    overflow-y: scroll;
}

#world_popup_entries_list:empty {
    width: 100%;
    height: 100%;
}

#world_popup_entries_list:empty::before {
    content: 'No entries exist. Try creating one!';
    font-size: 1.5rem;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.world_entry_form_control {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.world_entry_thin_controls {
    display: flex;
    flex-direction: row;
}

.world_entry_thin_controls>div {
    flex: 1;
}

.checkbox_fancy {
    cursor: pointer;
}

.world_entry_form_control label {
    margin-left: 10px;
}


.world_entry_form_control label h4 {
    margin-bottom: 0px;
}

.world_entry_form_control label h5 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.world_entry_form_control textarea {
    height: auto;
    width: auto;
    margin-top: 0;
}

.world_entry_form_control.world_entry_form_horizontal {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.world_entry_form_control input[type=button] {
    cursor: pointer;
}

.world_entry_form_horizontal h5 {
    margin: 0 1rem;
}

.world_entry_form_control .checkbox {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.world_entry_form_control .checkbox h4 {
    margin: 0;
    display: inline-block;
}

.world_entry_form_radios {
    margin-left: 1rem;
}

.world_entry_form_radios h4 {
    display: inline;
}

#world_cross {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

#world_logo {
    width: 35px;
    height: 35px;
    margin-right: 0.5rem;
}

#world_popup h4 a,
#world_popup h5 a,
#world_popup h3 a {
    color: #936f4a;
}

#world_popup h5 a:hover,
#world_popup h4 a:hover,
#world_popup h4 a:hover a {
    color: #998e6b;
}

#world_popup h5 {
    color: #757575;
}

/* STLYES FOR THE CHAT MESSAGE DELETION CHECKBOXES */
/* --------------------------------------------------------------------------------------*/

/* checkboxes default to being hidden unless called by the delete mesasges option menu button, which uses JS to force them to be display:block*/
.del_checkbox {
    display: none;
    opacity: 0.7;
    margin-top: 12px;
    margin-right: 12px;
}

/*this hides the replacement for input form until Delete Messages mode is called*/
#dialogue_del_mes {
    display: none;
}

/*this is the default-shown div that is shown when message-deletion mode is NOT on, and hidden when JS calls message deletion mode*/
.for_checkbox {
    display: block;
}

input[type='checkbox']:not(#nav-toggle):not(#rm_button_panel_pin) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border-radius: 3px;
    background-color: white;
    box-shadow: inset 0 0 3px 0 var(--black70a);
    cursor: pointer;
}

/* the checkbox starts with a size 0 background of a checkmark */
input[type='checkbox']:not(#nav-toggle):not(#rm_button_panel_pin)::after {
    content: '';
    color: var(--white100);
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background-color: var(--transparent);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ0OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCA0NDggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZD0iTTQxNy43NSAxNDEuNWMwIDYuMjUtMi41IDEyLjUtNyAxN2wtMjE1IDIxNWMtNC41IDQuNS0xMC43NSA3LTE3IDdzLTEyLjUtMi41LTE3LTdsLTEyNC41LTEyNC41Yy00LjUtNC41LTctMTAuNzUtNy0xN3MyLjUtMTIuNSA3LTE3bDM0LTM0YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsNzMuNSA3My43NSAxNjQtMTY0LjI1YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsMzQgMzRjNC41IDQuNSA3IDEwLjc1IDcgMTd6Ij48L3BhdGg+Cjwvc3ZnPgo=");
}

/* when the checkbox is checked, the background image is grown to normal size to fill the background of the 'checkbox'*/
input[type='checkbox']:not(#nav-toggle):not(#rm_button_panel_pin):checked::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*---------------------------------------------------------------------------------------------------------*/

#title_api {}

.option_select_right_menu {
    width: 284px;
    margin-bottom: 35px;
    color: var(--white70a);
    background-color: var(--black30a);
}

#user_avatar_block {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-rows: min-content;
}

#user_avatar_block .avatar {
    cursor: pointer;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 50%;
}

#user_avatar_block .avatar:not(.selected) {
    border: 2px solid transparent;
}

#user_avatar_block .avatar img {
    width: 60px;
    height: 60px;
}

#user_avatar_block .avatar_upload {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(10px) brightness(0.3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#form_upload_avatar {
    display: none !important;
}

.range-block {
    height:min-content;
}

.range-block-title{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.range-block-counter {
    width: max-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size:11px;
    color: var(--white50a);
}

.range-block-range {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/* input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    background: var(--white50a);
    border-radius: 15px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: -5px;
    border-radius: 50%;
    background:red;
} */

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    background: var(--white50a);
    border-radius: 15px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 2px black;
/*     -webkit-appearance:none;
    width:160px;
    height:20px;
    margin:10px 50px;
    background: linear-gradient(to right, #9A2720 0%, #9A2720 100%);
    background-size:150px 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none; */
  }
  
  input[type="range"]::-webkit-slider-thumb{
     -webkit-appearance:none;
    position:relative;
    box-shadow:0 0 5px 0 black;
    box-shadow:inset 0 0 5px var(--black70a);
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    /* margin-top: -5px; */
    border-radius: 50%;
    background:var(--white100);
  }

/*Notes '?' links*/


.notes-link {
    margin-left: 3px;
    position: absolute;
    
}
.note-link-span {
    color: var(--sienna);
    border: 1px solid var(--sienna);
    border-radius: 10px;
    line-height: 15px;
    font-size: 15px;
    width: 20px;
    height: 20px;
    padding-left: 6px;
    padding-top: 1px;
    display: inline-block;
    opacity: 0.7;
    margin: 0 5px;
    text-align: initial;
}


.note-link-span:hover {
    color: var(--white100);
    background-color: var(--orangered);
    opacity: 1;
}

#tips_popup {

    width: 500px;
    height: 600px;
    position: absolute;
    z-index: 2060;
    background-color: var(--cobalt30a);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 15vh;
    box-shadow: 5px 5px var(--black30a);
    padding: 4px;
    backdrop-filter: blur(10px);
    background-color: var(--black70a);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-top: 30px;
}

#shadow_tips_popup {
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2055;
    background-color: var(--black70a);
}

.mes_edit {
    float: right;
    color: var(--white30a);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-image: url(/img/pencil-solid.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    height: 20px;
    width: 20px;
    filter: invert(1) drop-shadow(0px 0px 2px black);
    opacity: 0.2;
}

.mes_edit:hover {
    opacity: 1;
}

.last_mes .mes_edit, .last_mes .mes_edit_done, .last_mes .mes_edit_cancel {
grid-row-start: 1;
position: relative;
right: -30px;
}

.mes_edit_done, .mes_edit_cancel {
    display: none;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 2px black);
    transition: 0.3s ease-in-out;
}

.mes_edit_cancel {
    margin-right: 0px;
}

.mes_edit_cancel.menu_button, .mes_edit_done.menu_button{
    opacity: 0.5;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.mes_edit_cancel.menu_button{background-color: var(--crimson70a);}
.mes_edit_done.menu_button{background-color: var(--okGreen70a);}

.mes_edit_cancel.menu_button:hover, .mes_edit_done.menu_button:hover{
    opacity: 1;
}

.edit_textarea {
    padding: 5px;
    margin: 0;
    outline: none;
    background-color: var(--black50a);
    font-size: 15px;
    line-height: 1.25rem;
}

#anchor_order {
    margin-bottom: 15px;
    color: var(--white70a);
    background-color: var(--black50a);
}

#anchor_checkbox,
#power-user-option-checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#anchor_checkbox label,
#power-user-option-checkboxes label,
.checkbox_label {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

#shadow_character_popup {
    backdrop-filter: blur(10px);
    background-color: var(--black70a);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2058;
}

#character_popup {
    display: none;
    background-color: var(--black30a);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(30px);
    grid-template-rows: 50px 100px 100px 100px auto;
    grid-gap: 10px;
    max-width: 800px;
    height: calc(100vh - 50px);
    position: absolute;
    z-index: 3002;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40px;
    box-shadow: 0 0 20px var(--black70a);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 1px solid var(--black30a);
    border-radius: 0 0 20px 20px;
}

#character_popup h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: inline;
}

#character_popup h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#character_popup h5 {
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 0;
    color: var(--grey50);
}

#character_popup_text {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 20px;
    align-items: center;
    width: 100%;
}

#personality_textarea {
    width: 100%;
}

#mes_example_div {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
}

#scenario_pole {
    width: 100%;
    margin-left: 0;
}

#mes_example_textarea {
    width: 100%;
    max-height: 100%;
    margin-left: 0;
}

#character_popup_ok {
    cursor: pointer;
    display: none;
    height: 40px;
    margin-top: 15px;
    margin-left: 36px;
    backdrop-filter: blur(10px);
    background-color: var(--black70a);
    -webkit-backdrop-filter: blur(10px);
    width: 110px;
    text-align: center;
}

#shadow_select_chat_popup {
    display: none;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3001;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#select_chat_popup {
    display: grid;
    grid-template-rows: auto auto;
    max-width: 800px;
    height: min-content;
    max-height: calc(100vh - 55px);
    min-height: 100px;
    position: absolute;
    z-index: 2066;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-top: 40px; */
    box-shadow: 0px 0px 20px black;
    padding: 10px;
    background-color: var(--black50a);
    border-radius: 20px;
    overflow-y: auto;
    border: 1px solid var(--grey30);
}

.TxtLrgBoldCenter {
    text-align: center;
    font-size: large;
    font-weight: 600;
}

#export_div {
    cursor: pointer;
}

#load_select_chat_div {
    position: absolute;
    bottom: 154px;
    left: 174px;
}

#load_select_chat_div img {
    width: 80px;
    height: 80px;
}

#select_chat_div {
    padding: 0;
    height: min-content;
}

#select_chat_div hr {
    margin: 0;
}

#select_chat_import {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.select_chat_block_wrapper{
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    grid-gap: 10px;
}

.select_chat_block {
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid var(--white30a);
    padding: 10px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.select_chat_block:hover {
    background-color: var(--white30a);
}

.select_chat_block[highlight] {
    background-color: var(--cobalt30a);
}

.select_chat_block .avatar {

    grid-row: span 2;
}

.select_chat_block_filename {
    opacity: 0.5;
}

.select_chat_block_mes {
    font-size: 0.75rem;
}

#select_chat_cross {
    position: absolute;
    right: 15px;
    top:15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.PastChat_cross{
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0.4;
    background-image: url(img/cross.png);
    background-size: contain;
    background-color: var(--black100);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 0 2pt black;
}

.PastChat_cross:hover{
    background-color: var(--fullred);
    box-shadow: 0 0 0 2pt red;
}

#advanced_book_logo {
    width: 35px;
    height: 35px;
    display: inline-block;
}

#export_character_div {
    display: grid;
    grid-template-columns: 340px auto;
}

/* GROUP CHATS */

#rm_group_top_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    column-gap: 15px;
}

#rm_button_group_chats {
    cursor: pointer;
    display: inline-block;
}

#rm_button_group_chats h2 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    color: rgb(188, 193, 200, 1);
    border: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px;
    border-radius: 10px;
}

#rm_group_chats_block {
    display: none;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#rm_group_chat_name {
    width: 90%;
}

#rm_group_buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
}

#rm_group_buttons .checkbox {
    display: flex;
}

#rm_group_buttons .checkbox h4 {
    display: inline-block;
}

#rm_group_buttons>input {
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

#rm_group_buttons>input:disabled {
    filter: brightness(0.3);
    cursor: unset;
}

#rm_group_members,
#rm_group_add_members {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    flex: 1;
    overflow: auto;
}

#rm_group_buttons_expander {
    flex-grow: 1;
}

#rm_group_delete {
    color: rgb(190, 0, 0);
}

#rm_group_members:empty {
    width: 100%;
}

#rm_group_members:empty::before {
    content: 'Group is empty';
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

#rm_group_add_members:empty {
    width: 100%;
}

#rm_group_add_members_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#rm_group_add_members_header input {
    flex-grow: 1;
    width: 100%;
    margin-left: 1rem;
}

#rm_group_add_members:empty::before {
    content: 'No characters available';
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.group_member_icon {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.group_member {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.group_member .ch_name {
    flex-grow: 1;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 110px);
}

.group_member:hover {
    background-color: #ffffff11;
}

#group_member_template {
    display: none !important;
}

#group_list_template {
    display: none !important;
}

.group_select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.group_select:hover {
    background-color: #ffffff11;
}

.group_select .group_icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.group_select .ch_name {
    flex-grow: 1;
    max-width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
}

#rm_button_back_from_group {
    padding: 0;
}

#typing_indicator_template {
    display: none !important;
}

.typing_indicator {
    position: sticky;
    bottom: 10px;
    margin: 10px;
    opacity: 0.6;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.typing_indicator:after {
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1500ms infinite;
    content: "";
    /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    0% {
        content: ""
    }

    25% {
        content: "."
    }

    50% {
        content: ".."
    }

    75% {
        content: "..."
    }
}

#group_avatars_template {
    display: none;
}

.avatar_collage {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.avatar_collage img {
    position: absolute;
    overflow: hidden;
    border-radius: 0% !important;
}

.collage_2 .img_1 {
    left: 0;
    top: 0;
    max-width: 50%;
    max-height: 100%;
    width: 50%;
    height: 100%;
}

.collage_2 .img_2 {
    left: 50%;
    top: 0;
    max-width: 50%;
    max-height: 100%;
    width: 50%;
    height: 100%;
}

.collage_3 .img_1 {
    left: 0;
    top: 0;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
}

.collage_3 .img_2 {
    left: 50%;
    top: 0;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
}

.collage_3 .img_3 {
    left: 0;
    top: 50%;
    max-width: 100%;
    max-height: 50%;
    width: 100%;
    height: 50%;
}

.collage_4 .img_1 {
    left: 0;
    top: 0;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
}

.collage_4 .img_2 {
    left: 50%;
    top: 0;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
}

.collage_4 .img_3 {
    left: 0;
    top: 50%;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
}

.collage_4 .img_4 {
    left: 50%;
    top: 50%;
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 50%;
}

span.warning {
    color: rgb(190, 0, 0);
    font-weight: bolder;
}

#talkativeness_hint {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

#talkativeness_expander {
    flex: 1;
}


#talkativeness_div input[type="range"] {
    width: 100%;
}

#talkativeness_hint span {
    min-width: 10em;
    font-size: small;
}

#talkativeness_hint span:nth-child(1) {
    text-align: left;
}

#talkativeness_hint span:nth-child(2) {
    text-align: center;
}

#talkativeness_hint span:nth-child(3) {
    text-align: right;
}

/* css/style.css */

p {
    margin-bottom: 16px;
    margin-top: 0;
}

hr {
    margin: 5px 0;
    height: 1px;
    border: 0;
}

h1 {
    font-size: 2rem;
    line-height: 32px;
    margin-bottom: 22px;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 5px;
    margin-bottom: 22px;
    font-weight: 300;
}

.right_menu_button h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.right_menu_button img {
    display: block;
    cursor: pointer;
    height: 26px;
}

a {
    color: orange;
    text-decoration: none;

}


/* ############################################################# */
/*           Right nav panel and nav-toggle */
/* ############################################################# */

#right-nav-panel {
    width: calc((100vw - 802px) / 2);
    min-width: 450px;
    height: calc(100vh - 55px);
    position: fixed;
    top: 40px;
    margin: 0;
    right: 0;
    left: auto;
    padding: 0 10px;
    backdrop-filter: blur(10px);
    background-color: var(--black50a);
    -webkit-backdrop-filter: blur(10px);
    z-index: 3000;
    white-space: nowrap;
    border: 0;
    border-left: 1px solid var(--grey30a);
    border-bottom: 1px solid var(--grey30a);
    max-height: 100vh;
    box-shadow: none;
    border-radius: 0 0 0 20px;
    overflow-y: hidden;
    scrollbar-width: thin;
}

/* #right-nav-panel.drawer-content{
    left:5px;
    height:calc(100vh - 55px);
    min-height:calc(100vh - 55px);
    
    box-shadow: none;
    
} */

#nav-toggle {
    position: fixed;
    right: 13px;
    top: 12px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: 3001;
}

#nav-toggle:hover::after {
    color: var(--ivory);
}

#nav-toggle::after {
    content: '\2630';
    line-height: 30px;
    font-size: 2em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-left: -24px;
    border: 1px solid var(--white30a);
    border-radius: 5px;
    background: var(--black30a);
    color: var(--white50a);
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
}

#nav-toggle:checked::after {
    content: '\2715';
    line-height: 30px;
    font-size: 2em;
}

/* this is what causes the panel movement */
#nav-toggle:checked~#right-nav-panel {
/*     right: 0;
    box-shadow: -5px 0 20px 0 var(--black70a); */
    /*overflow-y: auto;*/
}


#right-nav-panel > div:not(#right-nav-panel-tabs) {
    height: calc(100% - 40px);
    overflow-y: auto;
}

#hidden-divs {display:none;}



/* Message images */
.mes img.img_extra {
    max-width: 600px;
    max-height: 300px;
    border-radius: 10px;
    display: block;
}

.mes img.img_extra ~ * {
    display: none;
}

/* Extensions */
#extensions_url {
    display: block;
}

#extensions_status {
    margin-bottom: 10px;
    font-weight: 700;
}

.extensions_block input[type="submit"]:hover{
    background-color: green;
}

.extensions_block input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 10px;
}

label[for="extensions_autoconnect"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.extensions_url_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extensions_url_block h4 {
    display: inline;
}

.extensions_block {
    clear: both;
    padding: 0.05px; /* clear fix */
}

.extensions_info {
    text-align: left;
    margin: 0 1em;
}

.extensions_info h3 {
    margin-bottom: 0.5em;
}

.extensions_info h4 {
    margin-bottom: 0.5em;
}

.extensions_info p {
    margin-bottom: 0.5em;
}

.extensions_info .disabled {
    color: lightgray;
}

#extensions_list .disabled {
    text-decoration: line-through;
    color: lightgray;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.expander {
    flex-grow: 1;
}

/*------------ TOP SIDE SETTINGS ----------------*/

#top-settings-holder{
    margin: 0 auto;
    padding-top: 5px;
    height: 40px;
    max-width: 800px;
    color: white;
    justify-content: center;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
    z-index: 3000;
    position: relative;
    grid-gap: 2%;

}

.drawer {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;

}

.drawer-icon {
    display: inline-block;
    cursor: pointer;
    min-width: 40px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}

.icon-connect{
    background-image: url('img/plug-solid.svg');
}
.icon-connect.redOverlayGlow {
    background-image: url('img/plug-circle-exclamation-solid.svg');
}
.icon-sliders{
    background-image: url('img/sliders-solid.svg');
}
.icon-globe{
    background-image: url('img/book-atlas-solid.svg');
}
.icon-user{
    background-image: url('img/face-smile-regular.svg');
}

.icon-idcard{
    background-image: url('img/id-card-regular.svg');
}

.icon-panorama{
    background-image: url('img/panorama-solid.svg');
}

.icon-cubes {
    background-image: url('img/cubes-solid.svg');
}

.icon-formatting {
    background-image: url('img/font-solid.svg');
}

.drawer-icon.openIcon {
   /*  background-image: url('img/circle-chevron-up-solid.svg'); */
   filter: invert(1) brightness(200%);
   transition: all 0.275s;
}

.redOverlayGlow{
filter: invert(20%) sepia(100%) saturate(2518%) hue-rotate(353deg) brightness(93%) contrast(125%) drop-shadow(0px 0px 1px #c00) !important;
}

.drawer-icon.closedIcon {
    /* background-image: url('img/circle-chevron-down-solid.svg'); */
    filter: invert(1);
    opacity: 0.3;
    transition: all 0.275s;
}

.drawer-icon.closedIcon:hover{
    opacity: 1;
}

.inline-drawer {
    padding-bottom: 10px;
}

.inline-drawer-icon {
    display: block;
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1) brightness(75%);
}

.inline-drawer-icon.up {
    background-image: url('img/circle-chevron-up-solid.svg');
}

.inline-drawer-icon.down {
    background-image: url('img/circle-chevron-down-solid.svg');
}

.inline-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-drawer-content {
    display: none;
}

.drawer-content {
    background-color: var(--black50a);
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--grey30a);
    box-shadow: 0 0 20px black;
    min-width: 400px;
    overflow-y: scroll;
    max-height: calc(100vh - 70px);
    display: none;
    position: absolute;
    left:0;
    right:0;
    width: max-content;
    max-width:800px;
    margin: 30px auto;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.flex-container {
    display: flex;
    gap: 20px;
}

.flexWide50p { flex:50%;}

.widthFreeExpand {width: unset;}




/* ---------- @media queries must always go at the bottom ------------*/

@media screen and (max-width: 450px) {    /*styles for mobile phones (tested on iPhone 13 Pro)*/

    body {
        font-size: 16px;
        position: fixed;
        touch-action: none;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }

    .drawer-content {
        min-width: unset;
        width: calc(100vw - 10px);
        position: fixed;
        left: 0;
        top: 10px;
        border: 1px solid var(--grey30);
    }

    #select_chat_popup{
        align-items: start;
        height: min-content;
        align-content: start;
    }

    #top-settings-holder{
        width:100vw;
        position: fixed;

    }
    #bg1, #bg2 {position:fixed;}

    #sheld, #character_popup, #world_popup {    /*margin around the sides, and a larger one on bottom to avoid iOS Home bar*/
        height: calc(100svh - 55px);
        width: calc(100vw - 10px);
        margin: 0 auto;
        margin-left: 5px;
        position: fixed;
    }

    #character_popup, #world_popup, #send_form {
    border: 1px solid var(--grey30);
    }

    #chat {
        border-left: 1px solid var(--grey30);
        border-right: 1px solid var(--grey30);
        border-bottom: 1px solid var(--grey30);
        align-items: start;
        align-content: start;
        }

    #sheld, #character_popup {
        overflow-y: hidden;
    }

    .mes-text {padding-right: 25px;}

    #right-nav-panel {        
        height: calc(100vh - 70px);
        min-width: 0px;
        width: calc(100vw - 10px);
        left: 5px !important;
        overflow-y: hidden;
        border-left: 1px solid var(--grey30);
        border-right: 1px solid var(--grey30);
        border-bottom: 1px solid var(--grey30);
        border-radius: 0 0 20px 20px;
        /* border: 0;*/
    }

    #right-nav-panel h4 {margin: 5px auto;}

    #form_create {
        grid-template-rows: 
            [avatar] min-content 
            [hr] min-content 
            [descriptionHeader] min-content 
            [description] auto 
            [firstmessageHeader] min-content 
            [firstMessage] auto;
    }

    #result_info {    font-size: 14px;}

    .avatar_div {margin-top: 5px;}

    #character_popup {
        width: calc(100vw - 5px);
        border-radius: 0 0 0 20px;
        margin-top: -35px;
        height: calc(100vh - 30px);
    }


    #send_textarea {    /*larger input bar for mobile screens, easier to tap*/
        font-size: 1.25rem;
        line-height: 1.5rem;
        min-height: calc(2rem + 0.75rem + 2px);
        max-height: 200px;
        word-wrap: break-word;
        height: 40px;
        resize: vertical;
        display: block;
        background-color: rgba(255, 0, 0, 0);
        border: 0;
        box-shadow: none;
        padding: 6px 0 6px 0;
        font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
        margin: 0;
        text-shadow: #000 0 0 3px;
    }
    #rm_ch_create_block textarea {  /*without this the text areas display far too large*/
        max-height: 200px;
    }

    #talkativeness_hint span {
        min-width: 33%;
    }

    /*for debug purposes*/
    /* div {border: 1px solid purple;} */
}

@media (max-width: 768px) {
    .mes img.img_extra {
        max-width: 100%;
    }
}

