@font-face {
    font-family: "My Custom Font";
    src: url(fonts/Comic_CAT.otf) format("truetype");
}
p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}
body {
    margin: 0;
    background: linear-gradient(rgba(19,21,44,0.75), rgba(19,21,44,0.75)), url(backgrounds/tavern.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
    scrollbar-width: thin;
    scrollbar-color: gray #191b31;

}
#bg1{
    background-image: linear-gradient(rgba(19,21,44,0.75), rgba(19,21,44,0.75)), url(backgrounds/tavern.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
#bg2{
    background: linear-gradient(rgba(19,21,44,0.75), rgba(19,21,44,0.75)), url(backgrounds/tavern.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(2px);
    background-size: cover;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#sheld {
    display: grid;
    grid-template-rows: auto 145px;
    background: #191b3133;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
    //border-right: 0.1px solid gray;
    //border-left: 0.1px solid gray;
    //box-shadow: 0 0 2px rgba(200,200,200,0.1);
}

#chat {
    scrollbar-width: thin;
    //width: 900px;
    //height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    background: #191b3100;
    //white-space:nowrap;
    //margin-left: 30%; /* Отступ слева */
    //width: 40%; /* Ширина слоя */
    //padding: 10px; /* Поля вокруг текста */
}

::-webkit-scrollbar {
    width: .60em;
    //background-color: blue;
}

::-webkit-scrollbar-track {
    background-color: #191b31;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 1px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
#form_sheld {
    //box-shadow: 0 0 2px rgba(200,200,200,0.5);
    box-shadow: 0 0 2px rgba(200,200,200,0.1);
    white-space:nowrap;
    background: #191b31A0;
    //height: 10%;
    //margin-left: 30%; /* Отступ слева */
    //width: 95%; /* Ширина слоя */
    //padding: 10px; /* Поля вокруг текста */
    //background: red;
    //margin-left: auto;
    //margin-right: auto;
}
#send_form {
    display: grid;
    grid-template-columns: 35px auto 60px;
    //background: green;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#send_textarea{
    //width:100%; 
    font-size: 11pt; 
    height: 89px;
    resize: none;
    display:inline-block;
    background-color: #13152c;
    outline: none !important;
    border:0px solid grey;
    box-shadow: 0 0 2px rgba(200,200,200,0.5);
    padding: 10px;
    color: #e6e6e6;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}
#send_but_sheld{
    //display:inline-block;
    //height: 100%;
    //margin-left: 17px;
    //background: blue;
    
}
#send_but{
    //visibility: visible;
    width: 100%;
    margin: 0 auto;
    margin-left: 4px;
    display: block;
    height: 100%;
    background: url('img/send3.png') no-repeat top left;
    background-size: 26px auto;
    background-position: center center;
    outline:          none;
    border:           none;
    cursor:           pointer;
}
#loading_mes{
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: 2px;
    //visibility: collapse;
    background: url('img/load.svg') no-repeat top left;
    background-size: 45px 45px;
    background-position: center center;
}
#options_button{
    margin-top: 0px;
    cursor: pointer;
    //opacity: 0.5;
    position: block;
    width:40px;
    height: 40px;
    background-image: url('img/options2.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    //background-size: 20px;
}
#options{
    
    border-radius: 5px;
    opacity: 0.0;
    display: none;
    width: 200px;
    height: 100px;
    bottom: 145px;
    position: relative;
    //background-color: blue;
    z-index:1990;
   
}
.options-content {
    overflow: hidden;
  display: block;
  position: absolute;
  background-color: #191b31F3;
  min-width: 160px;
  z-index: 1;
  //bottom: 1px;
}

/* Ссылки внутри выпадающего блока */
.options-content hr {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #ffffff11;
}
.nav hr{
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.options-content a {
  color: #ffffff55;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.options-content img {
  opacity: 0.5;
  margin-right: 5px;
}

/* Изменяем цвет ссылки при наведении */
.options-content a:hover {background-color: #ffffff05}


.mes {
    display: grid;
    grid-template-columns: fit-content(60px) 60px auto;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(200,200,200,0.1);
    padding: 4px;
    background: #191b31CC;
    //box-shadow: 0 0 2px rgba(200,200,200,0.5);
    
    
    //display: inline-block;
    vertical-align: top;
    width: 100%;
    //height:60px;
    //background: red;
    //font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgb(229, 224, 216);
    font-size: 18px;
    //background: blue;
    margin-bottom: 26px;
}
.avatar {
  //box-shadow: 0 0 2px rgba(200,200,200,0.5);
  //background: #13152c;
  width: 67px;
  height: 103px;
  border-style: none;
  padding:6px;
  padding-bottom:20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}
.mes_block{
    
    padding-top: 4px;
    padding-left: 35px;
}
.ch_name{
    //background: green;
    font-weight:bolder;
}
.mes_text{
    //background: olive;
    
    font-weight:lighter;
    padding-top: 3px;
    margin-bottom: 10px;
    padding-right: 40px;
    max-width: 720px;
    word-wrap: break-word;
}
br {
   display: block;
   margin: 3px 0;
}

textarea{
    width:100%; 
    font-size: 11pt; 
    height: 400px;
    resize: none;
    display:block;
    background-color: #13152c;
    outline: none !important;
    border:0px solid grey;
    box-shadow: 0 0 2px rgba(200,200,200,0.5);
    padding: 10px;
    color: #cacaca;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}
#rm_ch_create_block textarea {
    font-size: 11pt;
}

#description_textarea{
    width: 92%;
    height: 200px;
    margin-top: 0px;
}
#personality_textarea{
    width: 92%;
    height: 100px;
    margin-top: 0px;
}
#character_name_pole{

    width: 92%;
}
#firstmessage_textarea{
    width: 92%;
    height: 180px;
    margin-top: 0px;
}

.text_pole{
    
    border:0px solid grey;
    box-shadow: 0 0 2px rgba(200,200,200,0.5);
    background-color: #13152c;
    //padding: 10px;

    margin-left: 10px;

    padding: 10px;
    color: #ffffffaa;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    size: 10;
    font-size: 11pt;
    padding: 7px;
}


.right_menu{
    //padding: 15px 20px;
    max-height: 86%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}
.right_menu h3 {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    
    
}
.right_menu h4 {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 1px;
}
.right_menu h5 {
    color: #757575;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input::file-selector-button {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200,200,200,0.2);
    border-radius: 3px;
    background-color: #191b31;
    cursor: pointer;
}
input[type=submit] {
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200,200,200,0.2);
    border-radius: 3px;
    background-color: #191b31;
}

.right_menu_button{
    display:inline-block;
    //box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    margin-top:3px;
    
    
}

.right_menu_button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
}

#rm_ch_create_block{
    display: none;
}
#rm_api_block{
    display: none;
    padding-bottom: 5px;
    //visibility: hidden;
}
#api_url_text{
    margin-right: 4px;
}
#api_button{
    cursor: pointer;
    color:#ffffffaa;
}
#api_loading{
    width: 25px;
    height: 25px;
    display: none;
    
}
#rm_characters_block{
    display: block;
    //visibility: hidden;
}
.character_select{
    padding: 0px;
    border-radius: 10px;
    cursor:pointer;
    display: grid;
    grid-template-columns: 67px auto;
}
.character_select .avatar{
    height: 100px;
}
.character_select .ch_name{
    margin-left: 10px;
    margin-top: 5px;
}
.character_select:hover{
    background-color: #ffffff11;
}
#avatar_url_div{
    display: none;
}
#selected_chat_div{
    display: none;
}
#last_mes_div{
    display: none;
}
#mes_example_div{
    display: none;
}
#rm_button_selected_ch{
    
}
#bg_menu{
    margin-top: 5px;
    margin-left: 2px;
    cursor:pointer;
    position: absolute;
    z-index: 2050;
    -webkit-user-select: none; 
      -webkit-touch-callout: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;  
    
}

#site_logo{
    opacity: 0.4;
    display: inline-block;
    width: 130px;
    height: 20px;
    vertical-align: top;
    margin-left: 1px;
}
#bg_menu_button{
    display: inline-block;
    opacity: 0.4;
     //transition: 0.5s
     cursor: pointer;
     width: 20px;
     //background: #191b3188;
     text-align: center;
     height: 20px;
     color: #ffffff88;
     
}
#bg_menu_button img{
     width: 20px;
     height: 20px;
     margin-bottom: 6px;
}
#bg_menu_content{
    margin-top: 0px;
    margin-left: 6px;
    opacity: 0.0;
    //padding-top: 10px;
    cursor:auto;
    display: block;
    width: 122px;//114px;
    height: 0px;
    background: #191b3100;
    overflow: hidden;
    overflow-y: hidden;
    
    scrollbar-width: thin;
    scrollbar-color: #ffffff11 #191b3111;
}
#bg_menu_content::-webkit-scrollbar-track {
    background-color: #191b3111;
}

#bg_menu_content::-webkit-scrollbar-thumb {
    background: #ffffff11;
    border-radius: 1px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
.bg_example {
  //box-shadow: 0 0 2px rgba(200,200,200,0.5);
  //background: #13152c;
  width: 103px;
  height: 83px;
  border-style: none;
  padding:6px;
  padding-bottom:20px;
  position: relative;
  margin-left: 3px;
}

.bg_example_img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}
.bg_example_cross {
    width:12px;
    height:12px;
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: 0.4;
}
.bg_example_but_load {
    margin-left: 3px;
  //box-shadow: 0 0 2px rgba(200,200,200,0.5);
  //background: #13152c;
  width: 103px;
  height: 83px;
  border-style: none;
  padding:6px;
  padding-bottom:20px;
  
}

.bg_example_but_load img {
  cursor: pointer;
  width: 91px;
  height: 57px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
  opacity: 0.1;
}

#add_bg_button{
    margin-bottom: 2px;
}

.avatar_div{
    margin-top: 16px;
}
.avatar_div .avatar{
    margin-left: 4px;
    display: inline-block;
}

#add_avatar_button{
    vertical-align: top;
    display: inline-block;
    margin-top: 52px;
}
#description_div{
    margin-top: 6px;
    
}
#personality_div{
    margin-top: 20px;
}
#first_message_div{
    margin-top: 20px;
}
#create_button{
    
    margin-left: 9px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

#rm_info_block{
    display: none;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-direction: column;

}
#rm_info_panel{
    font-size: 20px;
    display: block;
    text-align: center;
}
#rm_info_button{
    width: 100px;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#rm_info_avatar{
    width: 69px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#delete_button{
    cursor: pointer;
    display: block;
    float:right;
    margin-top: 25px;
    margin-right: 10px; 
    color: #ffffff66;
}
#result_info{
    margin-left: 10px;
    size: 10px;
    color: #ffffff33;
}

.input-file {

	display: block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
        width:89px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file input[type=file] {
	//position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
#form_bg_download{
    margin-bottom: 2px;
}
/* Focus */

#dialogue_popup{
    
    width:300px;
    height: 150px;
    position: absolute;
    z-index: 2060;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 36vh;
    box-shadow: 0 0 2px rgba(200,200,200,0.1);
    padding: 4px;
    background: #191b31CC;
    border-radius: 10px;
}
#dialogue_popup_ok{
    display: inline-block;
    margin-right: 20px;
    background-color: #791b31;
    cursor: pointer;
}
#dialogue_popup_cancel{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
#dialogue_del_mes{
    width:300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    padding: 4px;


}
#dialogue_del_mes_ok{
    
    display: inline-block;
    margin-right: 20px;
    background-color: #791b31;
    cursor: pointer;
}
#dialogue_del_mes_cancel{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
.menu_button{
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    border: thin solid rgba(200,200,200,0.2);
    border-radius: 3px;
    background-color: #191b31;
}
#dialogue_del_mes .menu_button{
    font-weight: bold;
    font-size: 20px;
    min-width: 100px;
    min-height: 40px;
}
#shadow_popup{
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2055;
}
#bgtest{
    display: none;
    width:100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    background-color: red;
}


#online_status{
    opacity: 0.3;
    position: absolute;
    //left: 4px;
    bottom: 0px;
    margin-left: 9px;
    margin-bottom: 15px;
}
#online_status_indicator{
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}
#online_status_text{
    margin-left: 4px;
    display: inline-block;
}
#online_status2{
    opacity: 0.5;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 30px;
}
#online_status_indicator2{
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: red;
    display: inline-block;
}
#online_status_text2{
    margin-left: 4px;
    display: inline-block;
}
.del_checkbox{
    display: none;
    opacity: 0.5;
    accent-color: #ffffff;
    //background-color: green;
    width: 20px;
    height: 20px;
}
#dialogue_del_mes{
    display: none;
}
.for_checkbox{
    display: block;
}
select {
    //font-size: .9rem;
    //border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    color: #ffffff66;
    padding: 5px 10px;
    width:95%;
    height: 34px;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0.09);
    font-size: 15px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 2px rgba(200,200,200,0.5);
    margin-top: 5px;
    margin-bottom: 45px;
}
#title_api{
    margin-left: 3px;
}
#settings_perset{
    width:284px;
    margin-left: 10px;
    margin-bottom: 35px;
    color: #ffffff9d;
    box-shadow: 0 0 2px rgba(200,200,200,0.5);
    background-color:#13152c;
}
#user_avatar_block{
    margin-left: 6px;
    display: grid;
    grid-template-columns: auto auto auto;
}
#user_avatar_block .avatar{
    cursor: pointer;
    margin-bottom: 30px;
    width: 90px;
    height: 126px;
}
#user_avatar_block .avatar img{
    width: 90px;
    height: 126px;
}
#temp{
    margin-left: 10px;
    margin-bottom: 20px;
}
#temp_counter{
    margin-bottom: 0px;
}
#amount_gen{
    margin-left: 10px;
    margin-bottom: 20px;
}
#amount_gen_counter{
    margin-bottom: 0px;
}
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  //background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
#rm_api_block h4{
    opacity: 0.85;
}

.nav h5 a{
    color: #936f4a;
}
.nav h5 a:hover{
    color: #998e6b;
}
.nav h4 a{
    color: #936f4a;
}
.nav h4 a:hover{
    color: #998e6b;
}

#tips_popup{
    
    width:500px;
    height: 430px;
    position: absolute;
    z-index: 2060;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20vh;
    box-shadow: 5px 5px -5px -5px rgba(200,200,200,0.1);
    padding: 4px;
    background: #191b31EE;
    border-radius: 10px;
}
#shadow_tips_popup{
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2055;
    background-color: #00000066;
}

