#roll_dice {
    order: 100;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 1px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;

}

#roll_dice:hover {
    opacity: 1;
    filter: brightness(1.2);
}

#dice_dropdown {
    z-index: 100;
    backdrop-filter: blur(--SmartThemeBlurStrength);
}