<div data-type="assistant_note">
    <div class="assistant_note_title">
        <b data-i18n="Note:">Note:</b> <span data-i18n="this chat is temporary and will be deleted as soon as you leave it.">this chat is temporary and will be deleted as soon as you leave it.</span>
    </div>
    <button class="assistant_note_import menu_button menu_button_icon margin0" data-i18n="[title]Import from JSONL" title="Import from JSONL">
        <i class="fa-solid fa-file-import"></i>
        <span data-i18n="Load">Load</span>
    </button>
    <button class="assistant_note_export menu_button menu_button_icon margin0" data-i18n="[title]Export as JSONL" title="Export as JSONL">
        <i class="fa-solid fa-file-export"></i>
        <span data-i18n="Save">Save</span>
    </button>
</div>
