<form action="javascript:void(0);" class="flex-container flexFlowColumn">
    <div class="currentPasswordBlock">
        <label data-i18n="Current Password:" for="current_password">Current Password:</label>
        <input id="current_password" type="password" name="current" class="text_pole" placeholder="Leave blank for no password" autocomplete="current-password" data-i18n="[placeholder]Leave blank for no password">
    </div>
    <div class="newPasswordBlock">
        <label data-i18n="New Password:" for="new_password">New Password:</label>
        <input id="new_password" type="password" name="password" class="text_pole" placeholder="Leave blank for no password" autocomplete="new-password" data-i18n="[placeholder]Leave blank for no password">
    </div>
    <div class="confirmPasswordBlock">
        <label data-i18n="Confirm New Password:" for="confirm_password">Confirm New Password:</label>
        <input id="confirm_password" type="password" name="confirm" class="text_pole" placeholder="Leave blank for no password" autocomplete="new-password" data-i18n="[placeholder]Leave blank for no password">
    </div>
</form>
