<h3><span data-i18n="Import Tags For _begin">Import Tags For </span>{{charName}}<span data-i18n="Import Tags For _end"></span></h3>
<div class="import_avatar_placeholder"></div>
<div class="import_tags_content justifyLeft">
    <small data-i18n="Click remove on any tag to remove it from this import.&lt;br /&gt;Select one of the import options to finish importing the tags.">
        Click remove on any tag to remove it from this import.<br />
        Select one of the import options to finish importing the tags.
    </small>

    <h4 class="m-t-1" data-i18n="Existing Tags">Existing Tags</h4>
    <div id="import_existing_tags_list" class="tags" style="min-height: 20px;"></div>

    <h4 class="m-t-1" data-i18n="New Tags">New Tags</h4>
    <div id="import_new_tags_list" class="tags" style="min-height: 20px;"></div>

    <div id="folder_tags_block" class="m-t-1">
        <h4 data-i18n="Folder Tags">Folder Tags</h4>
        <small data-i18n="The following tags will be auto-imported based on the currently selected folders">
            The following tags will be auto-imported based on the currently selected folders
        </small>
        <div id="import_folder_tags_list" class="tags" style="margin-top: 5px;"></div>
    </div>
</div>
