<div class="flex-container flexFlowColumn height100p">
    <h3 data-i18n="Additional Parameters">Additional Parameters</h3>
    <div class="flex1 flex-container flexFlowColumn">
        <h4 data-i18n="Include Body Parameters">Include Body Parameters</h4>
        <textarea id="custom_include_body" class="flex1" placeholder="Parameters to be included in the Chat Completion request body (YAML object)&#10;&#10;Example:&#10;- top_k: 20&#10;- repetition_penalty: 1.1" data-i18n="[placeholder]custom_include_body_desc"></textarea>
    </div>
    <div class="flex1 flex-container flexFlowColumn">
        <h4 data-i18n="Exclude Body Parameters">Exclude Body Parameters</h4>
        <textarea id="custom_exclude_body" class="flex1" placeholder="Parameters to be excluded from the Chat Completion request body (YAML array)&#10;&#10;Example:&#10;- frequency_penalty&#10;- presence_penalty" data-i18n="[placeholder]custom_exclude_body_desc"></textarea>
    </div>
    <div class="flex1 flex-container flexFlowColumn">
        <h4 data-i18n="Include Request Headers">Include Request Headers</h4>
        <textarea id="custom_include_headers" class="flex1" placeholder="Additional headers for Chat Completion requests (YAML object)&#10;&#10;Example:&#10;- CustomHeader: custom-value&#10;- AnotherHeader: custom-value" data-i18n="[placeholder]custom_include_headers_desc"></textarea>
    </div>
</div>