<div class="dataMaidDialog">
    <div class="dataMaidDialogHeader">
        <div class="dataMaidHeaderInfo info-block warning margin0">
            <small data-i18n="Once deleted, the files will be gone forever!">
                Once deleted, the files will be gone forever!
            </small>
            <br>
            <small data-i18n="Make sure to back up your data in advance.">
                Make sure to back up your data in advance.
            </small>
        </div>
        <button class="menu_button menu_button_icon dataMaidStartButton">
            <i class="fa fa-cog"></i>
            <span data-i18n="Scan">Scan</span>
        </button>
    </div>
    <hr>
    <div class="dataMaidPlaceholder" data-i18n="No results yet. Tap 'Scan' to start scanning.">
        No results yet. Tap 'Scan' to start scanning.
    </div>
    <div class="displayNone dataMaidSpinner">
        <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
    </div>
    <div class="dataMaidResultsList"></div>
</div>
