<div>
    <h3 data-i18n="Debug Menu">Debug Menu</h3>
    <div data-i18n="Functions in this category are for advanced users only. Don't click anything if you're not sure about the consequences.">
        Functions in this category are for advanced users only. Don't click anything if you're not sure about the consequences.
    </div>
    <table id="debug_table" class="responsiveTable">
        {{#each functions}}
        {{#with this}}
        <tr>
            <td>
                <div class="justifyLeft">
                    <b>{{this.name}}</b>
                </div>
                <div class="justifyLeft">
                    {{this.description}}
                </div>
                <div class="flex-container justifyCenter">
                    <div class="menu_button menu_button_icon" data-debug-function="{{this.functionId}}" data-i18n="Execute">
                        Execute
                    </div>
                </div>
            </td>
        </tr>
        {{/with}}
        {{/each}}
    </table>
</div>
