<div class="flex-container flexFlowColumn">
    <h3 data-i18n="Are you sure you want to delete this user?">
        Are you sure you want to delete this user?
    </h3>
    <div>
        <span data-i18n="Deleting:">Deleting:</span>
        <strong id="deleteUserName"></strong>
    </div>
    <label class="checkbox_label justifyCenter" for="deleteUserData">
        <input id="deleteUserData" name="deleteUserData" type="checkbox">
        <span data-i18n="Also wipe user data.">Also wipe user data.</span>
    </label>
    <hr>
    <div>
        <strong data-i18n="Warning:">Warning:</strong>
        <span data-i18n="This action is irreversible.">This action is irreversible.</span>
    </div>
    <div>
        <label for="deleteUserHandle">
            <strong data-i18n="Type the user's handle below to confirm:">
                Type the user's handle below to confirm:
            </strong>
        </label>
        <input id="deleteUserHandle" name="deleteUserHandle" type="text" class="text_pole" placeholder="[ Type here ]">
    </div>
</div>
