<div class="forbid_media_override flex-container flexFlowColumn">
    <h4 data-i18n="Forbid Media Override explanation" class="margin0">
        Ability of the current character/group to use external media in chats.
    </h4>
    <small data-i18n="Forbid Media Override subtitle" class="marginBot5">
        Media: images, videos, audio. External: not hosted on the local server.
    </small>
    <label class="checkbox_label" for="forbid_media_override_global">
        <input type="radio" id="forbid_media_override_global" name="forbid_media_override" />
        <span>
            <span data-i18n="Use global setting">Use global setting</span>
            <b class="forbid_media_global_state_forbidden">(forbidden)</b>
            <b class="forbid_media_global_state_allowed">(allowed)</b>
        </span>
    </label>
    <label class="checkbox_label" for="forbid_media_override_forbidden">
        <input type="radio" id="forbid_media_override_forbidden" name="forbid_media_override" />
        <span data-i18n="Always forbidden">Always forbidden</span>
    </label>
    <label class="checkbox_label" for="forbid_media_override_allowed">
        <input type="radio" id="forbid_media_override_allowed" name="forbid_media_override" />
        <span data-i18n="Always allowed">Always allowed</span>
    </label>
</div>
