<h4 data-i18n="help_hotkeys_0">Hotkeys/Keybinds</h4>
<ul>
    <li><tt data-i18n="help_hotkeys_1">Up</tt> = <span data-i18n="help_hotkeys_2">Edit last message in chat</span></li>
    <li><tt data-i18n="help_hotkeys_3">Ctrl+Up</tt> = <span data-i18n="help_hotkeys_4">Edit last USER message in chat</span></li>
    <li><tt data-i18n="help_hotkeys_5">Left</tt> = <span data-i18n="help_hotkeys_6">swipe left</span></li>
    <li><tt data-i18n="help_hotkeys_7">Right</tt> = <span data-i18n="help_hotkeys_8">swipe right (NOTE: swipe hotkeys are disabled when chatbar has something typed into it)</span></li>
    <li><tt data-i18n="help_hotkeys_9">Enter</tt> <span data-i18n="help_hotkeys_10">(with chat bar selected)</span> = <span data-i18n="help_hotkeys_10_1">send your message to AI</span></li>
    <li><tt data-i18n="help_hotkeys_11">Ctrl+Enter</tt> = <span data-i18n="help_hotkeys_12">Regenerate the last AI response</span></li>
    <li><tt data-i18n="help_hotkeys_13">Alt+Enter</tt> = <span data-i18n="help_hotkeys_14">Continue the last AI response</span></li>
    <li><tt data-i18n="help_hotkeys_15">Escape</tt> = <span data-i18n="help_hotkeys_16">stop AI response generation, close UI panels, cancel message edit</span></li>
    <li><tt data-i18n="help_hotkeys_17">Ctrl+Shift+Up</tt> = <span data-i18n="help_hotkeys_18">Scroll to context line</span></li>
    <li><tt data-i18n="help_hotkeys_19">Ctrl+Shift+Down</tt> = <span data-i18n="help_hotkeys_20">Scroll chat to bottom</span></li>
</ul>
<h4 data-i18n="help_hotkeys_21">Markdown Formatting Hotkeys</h4>
<ul>
    <li><tt data-i18n="help_hotkeys_22">Ctrl+B</tt> = <span data-i18n="help_hotkeys_23">Add markdown bold wrapper (**)</span></li>
    <li><tt data-i18n="help_hotkeys_24">Ctrl+I</tt> = <span data-i18n="help_hotkeys_25">Add markdown italics wrapper (*)</span></li>
    <li><tt data-i18n="help_hotkeys_26">Ctrl+U</tt> = <span data-i18n="help_hotkeys_27">Add markdown underline wrapper (__)</span></li>
    <li><tt data-i18n="help_hotkeys_28">Ctrl+K</tt> = <span data-i18n="help_hotkeys_29">Add markdown inline code wrapper (`)</span></li>
    <li><tt data-i18n="help_hotkeys_30">Ctrl+Shift+`</tt> = <span data-i18n="help_hotkeys_31">Add markdown strikethrough wrapper (~~)</span></li>
</ul>
