<h3 data-i18n="Enter the Git URL of the extension to install">Enter the Git URL of the extension to install</h3>
<br>
<p>
  <b data-i18n="Disclaimer:">Disclaimer:</b>
  <span data-i18n="Please be aware that using external extensions can have unintended side effects and may pose security risks. Always make sure you trust the source before importing an extension. We are not responsible for any damage caused by third-party extensions.">
    Please be aware that using external extensions can have unintended side effects and may pose security risks. Always make sure you trust the source before importing an extension. We are not responsible for any damage caused by third-party extensions.
  </span>
</p>
<br>
<p><span data-i18n="Example:">Example:</span> <tt> https://github.com/author/extension-name </tt></p>
