<h3>
    This instruct template also contains a system prompt.
</h3>
<div class="marginBot10">
    Would you like to migrate the system prompt from the template?
</div>
<div class="justifyLeft marginBot10">
    <div>
        <small>
            <b>"Yes"</b> &ndash; The prompt will be imported and selected as a current system prompt.
        </small>

    </div>
    <div>
        <small>
            <b>"No"</b> &ndash; The prompt will be ignored, no changes to the current system prompt.
        </small>
    </div>
</div>
<textarea class="wide100p textarea_compact" rows="10">{{prompt}}</textarea>
