<div class="persona_world range-block flexFlowColumn flex-container">
    <div class="range-block-title">
        <h4>
            <span data-i18n="Persona Lorebook for">Persona Lorebook for</span> <span class="persona_name"></span>
        </h4>
    </div>
    <div class="range-block-counter justifyLeft flex-container flexFlowColumn margin-bot-10px">
        <span data-i18n="persona_world_template_txt">
            A selected World Info will be bound to this persona. When generating an AI reply,
            it will be combined with the entries from global, character and chat lorebooks.
        </span>
    </div>
    <div class="range-block-range wide100p">
        <select class="persona_world_info_selector wide100p">
            <option value="">--- None ---</option>
        </select>
    </div>
</div>
