<div id="prompt-manager-export-format-popup" class="list-group">
        <div class="prompt-manager-export-format-popup-flex">
            <div class="row">
                <a class="export-promptmanager-prompts-full list-group-item" data-i18n="Export all">Export all</a>
                <span class="tooltip fa-solid fa-info-circle" data-i18n="[title]Export all your prompts to a file" title="Export all your prompts to a file"></span>
            </div>
            {{#if isGlobalStrategy}}
            {{else}}
                {{{exportForCharacter}}}
            {{/if}}
        </div>
</div>
