<h3><span data-i18n="Encountered an error while processing your request.">Encountered an error while processing your request.</span><br>
    <span data-i18n="Check you have credits available on your">Check you have credits available on your</span>
    <a href="https://platform.openai.com/account/usage" target="_blank" data-i18n="OpenAI account quora_error">OpenAI account</a><span data-i18n="dot quota_error">.</span><br>
    <span data-i18n="If you have sufficient credits, please try again later.">If you have sufficient credits, please try again later.</span></h3>