<div class="flex-container flexFlowColumn marginBot10">
    <h3 data-i18n="Are you sure you want to reset your settings to factory defaults?">
        Are you sure you want to reset your settings to factory defaults?
    </h3>
    <div data-i18n="Don't forget to save a snapshot of your settings before proceeding.">
        Don't forget to save a snapshot of your settings before proceeding.
    </div>
    <hr>
    <div data-i18n="Enter your password below to confirm:">
        Enter your password below to confirm:
    </div>
    <input id="resetSettingsPassword" name="password" type="password" class="text_pole" placeholder="Password">
</div>
