<div class="title_restorable flexFlowColumn alignItemsBaseline">
    <div class="flex-container justifyCenter">
        <h3 data-i18n="Sampler Select">Sampler Select</h3>
        <div class="flex-container alignItemsBaseline">
        <div id="resetSelectedSamplers" class="menu_button menu_button_icon" data-i18n="[title]Reset custom sampler selection" title="Reset custom sampler selection">
            <i class="fa-solid fa-recycle"></i>
        </div>
        <div data-i18n="[title]Prioritize showing samplers manually selected from this popup." title="Prioritize showing samplers manually selected from this popup.">
            <i id="prioritizeManuallySelectedSamplers" class="fa-solid fa-bolt menu_button"></i>
        </div>
        <div class="margin5 fa-solid fa-exclamation-triangle" data-i18n="SillyTavern automatically selects samplers used/needed by the the selected API Type from the API Connections panel, turn off prioritization of manually selected samplers if you get missing parameter errors from your API." title="SillyTavern automatically selects samplers used/needed by the the selected API Type from the API Connections panel, turn off prioritization of manually selected samplers if you get missing parameter errors from your API."></div>
    </div>
        <!--<div class="flex-container alignItemsBaseline">
            <div class="menu_button menu_button_icon" title="Create a new sampler">
                <i class="fa-solid fa-plus"></i>
                <span data-i18n="Create">Create</span>
            </div>
        </div>-->
    </div>
    <small data-i18n="Here you can toggle the display of individual samplers. (WIP)">Here you can toggle the display of individual samplers. (WIP)</small>
</div>
<hr>