<form action="javascript:void(0);" class="flex-container flexFlowColumn">
    <h3 class="neutral_warning">
        This will delete all your settings and data. There will be no undo button.
        Make sure you have a backup before proceeding.
    </h3>
    <hr>
    <div>
        Account reset code has been posted to the server console.
    </div>
    <div class="currentPasswordBlock">
        <label data-i18n="Current Password:" for="user">Current Password:</label>
        <input type="password" name="password" class="text_pole" placeholder="[ No password ]" autocomplete="current-password">
    </div>
    <div class="resetCodeBlock">
        <label data-i18n="Reset Code:" for="password">Reset Code:</label>
        <input type="text" name="code" class="text_pole" placeholder="XXXX">
    </div>
</form>
