<div id="extensionsMenu" class="options-content" style="display: none;">
    <div id="data_bank_wand_container" class="extension_container"></div>
    <div id="attach_file_wand_container" class="extension_container"></div>
    <div id="sd_wand_container" class="extension_container"></div>
    <div id="caption_wand_container" class="extension_container"></div>
    <div id="tts_wand_container" class="extension_container"></div>
    <div id="screen_share_wand_container" class="extension_container"></div>
    <div id="prompt_inspector_wand_container" class="extension_container"></div>
    <div id="emulatorjs_wand_container" class="extension_container"></div>
    <div id="notebook_wand_container" class="extension_container"></div>
    <div id="chess_wand_container" class="extension_container"></div>
    <div id="token_counter_wand_container" class="extension_container"></div>
    <div id="dice_wand_container" class="extension_container"></div>
    <div id="objective_wand_container" class="extension_container"></div>
    <div id="translate_wand_container" class="extension_container"></div>
</div>
