<div class="flex-container">
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
        <i class="fa-solid fa-plug"></i>
        <span data-i18n="API Connections">API Connections</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
        <i class="fa-solid fa-address-card"></i>
        <span data-i18n="Character Management">Character Management</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="extensions-settings-button">
        <i class="fa-solid fa-cubes"></i>
        <span data-i18n="Extensions">Extensions</span>
    </button>
</div>
