<h3>
    <span id="version_display_welcome"></span>
</h3>
<a>
    Running the Latest Version of Dechat!
</a>
<h3>What is Dechat?</h3>
<ul>
  <li>
    Dechat is a private space for private conversations, using the latest
    available & uncensored AI models.
  </li>
  <li>
    We have a wide range of available plugins and API extensions, making use of
    difussion models as well as trasformers. For those who want pictures, Text
    to Speech, etc.
  </li>
  <li>
    Dechat's purpose is to bring human-machine conversations to an easy-to-modify
    space, granting insights, knowledge, and even spare time of the real world.
  </li>
</ul>
<hr>
<h3 data-i18n="How to start chatting?">How to start chatting?</h3>
<ol>
    <li>
        <span data-i18n="Click ">Click </span><code><i class="fa-solid fa-plug"></i></code><span data-i18n="and select a"> and select a </span><a href="https://docs.dechat.app/usage/api-connections/" target="_blank" data-i18n="Chat API">Chat API</a>.</span>
    </li>
    <li>
        <span data-i18n="Click ">Click </span><code><i class="fa-solid fa-address-card"></i></code><span data-i18n="and pick a character"> and pick a character</span>
    </li>
</ol>
<hr>
<h3 data-i18n="Confused or lost?">Confused or lost?</h3>
<ul>
    <li>
        <span data-i18n="Enter">Enter </span><code>/?</code><span data-i18n="in the chat bar"> in the chat bar</span>
    </li>
    <li>
        <a target="_blank" href="https://docs.dechat.app/" data-i18n="Dechat Documentation Site">
            Dechat Documentation Site (Coming Soon)
        </a>
    </li>
    <li>
        <a target="_blank" href="https://docs.dechat.app/extras/installation/" data-i18n="Extras Installation Guide">
            Extras Installation Guide
        </a>
    </li>
</ul>

<hr>
<h3 data-i18n="Still have questions?">Still have questions?</h3>
<ul>
    <li>
        <a target="_blank" href="https://discord.gg/dechat" data-i18n="Join the Dechat Discord">
            Join the Dechat Discord (Coming Soon)
        </a>
    </li>
</ul>

