<h3>
    <span id="version_display_welcome">{{displayVersion}}</span>
</h3>
<a href="https://docs.sillytavern.app/usage/update/" target="_blank" data-i18n="Want to update?">
    Want to update?
</a>
<hr>
<h3 data-i18n="How to start chatting?">How to start chatting?</h3>
<ol>
    <li>
        <span data-i18n="Click _space">Click </span><code><i class="fa-solid fa-plug"></i></code><span data-i18n="and select a"> and select a </span><a href="https://docs.sillytavern.app/usage/api-connections/" target="_blank" data-i18n="Chat API">Chat API</a>.</span>
    </li>
    <li>
        <span data-i18n="Click _space">Click </span><code><i class="fa-solid fa-address-card"></i></code><span data-i18n="and pick a character."> and pick a character.</span>
    </li>
</ol>
<div>
    <span data-i18n="You can browse a list of bundled characters in the">
        You can browse a list of bundled characters in the
    </span>
    <i data-i18n="Download Extensions & Assets">
        Download Extensions & Assets
    </i>
    <span data-i18n="menu within">
        menu within
    </span>
    <code><i class="fa-solid fa-cubes"></i></code>
    <span>.</span>
</div>
<hr>
<h3 data-i18n="Confused or lost?">Confused or lost?</h3>
<ul>
    <li>
        <span class="note-link-span"><a class="fa-solid fa-circle-question" target="_blank" href="https://docs.sillytavern.app/"></a></span> - <span data-i18n="click these icons!">click these icons!</span>
    </li>
    <li>
        <span data-i18n="Enter">Enter </span><code>/?</code><span data-i18n="in the chat bar"> in the chat bar</span>
    </li>
    <li>
        <a target="_blank" href="https://docs.sillytavern.app/" data-i18n="SillyTavern Documentation Site">
            SillyTavern Documentation Site
        </a>
    </li>
</ul>

<hr>
<h3 data-i18n="Still have questions?">Still have questions?</h3>
<ul>
    <li>
        <a target="_blank" href="https://discord.gg/sillytavern" data-i18n="Join the SillyTavern Discord">
            Join the SillyTavern Discord
        </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/SillyTavern/SillyTavern/issues" data-i18n="Post a GitHub issue">
            Post a GitHub issue
        </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/SillyTavern/SillyTavern#questions-or-suggestions" data-i18n="Contact the developers">
            Contact the developers
        </a>
    </li>
</ul>

