<h3>
    <span id="version_display_welcome">SillyTavern</span>
    <div id="version_display_welcome"></div>
</h3>
<a href="https://docs.sillytavern.app/usage/update/"" target=" _blank">
    Want to update?
</a>
<hr>
<h3>How to start chatting?</h3>
<ol>
    <li>Click <code><i class="fa-solid fa-plug"></i></code> and select a <a href="https://docs.sillytavern.app/usage/api-connections/" target="_blank">Chat API</a>.</li>
    <li>Click <code><i class="fa-solid fa-address-card"></i></code> and pick a character</li>
</ol>
<hr>
<h3>Confused or lost?</h3>
<ul>
    <li>
        <span class="note-link-span"><a class="fa-solid fa-circle-question" target="_blank" href="https://docs.sillytavern.app/"></a></span> - click these icons!
    </li>
    <li>
        Enter <code>/?</code> in the chat bar
    </li>
    <li>
        <a target="_blank" href="https://docs.sillytavern.app/">
            SillyTavern Documentation Site
        </a>
    </li>
    <li>
        <a target="_blank" href="https://docs.sillytavern.app/extras/installation/">
            Extras Installation Guide
        </a>
    </li>
</ul>

<hr>
<h3>Still have questions?</h3>
<ul>
    <li>
        <a target="_blank" href="https://discord.gg/RZdyAEUPvj">
            Join the SillyTavern Discord
        </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/SillyTavern/SillyTavern/issues">
            Post a GitHub issue
        </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/SillyTavern/SillyTavern#questions-or-suggestions">
            Contact the developers
        </a>
    </li>
</ul>
